p{
    color:blanchedalmond;
    background-color: black;
    border: 5px;
    padding: 2px;
    border-radius: 15px;
    
}
h1{
    color: black;
    background-color:skyblue ;
    border: 5px;
    padding: 2px;
}