p{
    color:blanchedalmond;
    background-color: black;
    border: 5px;
    padding: 2px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    
}
h1{
    color: black;
    background-color:skyblue ;
    border: 5px;
    padding: 2px;
    margin: 20px;
    text-align: center;

}
img {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 5px;

}